:host {
  display: block;
  position: relative;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  display: flex;
  width: 250px;
  text-align: center;
}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.preview-button {
  bottom: 5%;
  position: absolute;
  right: 2.5%;
  z-index: 1;
}
