<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav class="border-end rounded-0" opened mode="side" disableClose="true">
    <app-chord-selector></app-chord-selector>
    <mat-divider></mat-divider>
    <app-inline-selector></app-inline-selector>
    <mat-divider></mat-divider>
    <app-section-selector></app-section-selector>
    <mat-divider></mat-divider>
    <app-bpm-counter></app-bpm-counter>
  </mat-sidenav>
  <mat-sidenav-content (window:resize)="onEditorContainerResize()" onresize="onEditorContainerResize()">
    <app-monaco-editor></app-monaco-editor>
  </mat-sidenav-content>
</mat-sidenav-container>
<button class="preview-button" mat-mini-fab matTooltip="Show preview" (click)="showPreview()">
  <mat-icon>preview</mat-icon>
</button>
