:host {
  display: block;
  margin: 20px 10px;
}

button {
  width: 100%;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

.mdc-button--unelevated {
  padding: 0 8px 0 8px;
  text-overflow: ellipsis;
}

mat-label {
  display: block;
}

.small {
  color: whitesmoke;
  font-size: 0.5rem;
  min-width: 12px;
}

.rotate {
  text-orientation: mixed;
  writing-mode: vertical-rl;
}
