<small class="d-block text-white-50">Chords</small>
@if (chords.length > 0) {
<mat-grid-list class="mt-2" cols="2" rowHeight="37px" gutterSize="5px">
  <mat-grid-tile *ngFor="let chord of chords; index as i">
    <button mat-flat-button (click)="insertChord(chord)">
      <div class="d-flex justify-content-between align-items-center">
        <small #index>{{ i + 1 }}</small>
        <mat-label>[{{ chord }}]</mat-label>
        <small [style.visibility]="i < 9 ? 'visible' : 'hidden'" [style.width]="index.style.width" class="rotate small">Ctrl+{{ i + 1 }}</small>
      </div>
    </button>
  </mat-grid-tile>
</mat-grid-list>
} @else {
<small class="d-block text-white-50 mt-2">No chords recognized ...</small>
}
