.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 50px;
}

.horizontal-spacer {
  flex: 1 1 auto;
}

.split-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 12px;
}

.split-button-dropdown {
  border-left: 1px solid var(--mat-sys-on-primary);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 0px;
  padding-left: 12px;
  padding-right: 12px;
}
