<mat-toolbar class="border-bottom">
  <img id="logo" src="img/logo_64x64.png" alt="Logo" height="36" />
  <span class="ms-3">ChordPro - Editor</span>
  <span class="horizontal-spacer"></span>
  <button mat-flat-button class="split-button" matTooltip="Insert prefilled chordpro track template." (click)="onNewTrackButtonClick()">
    <mat-icon>lyrics</mat-icon>
    <span>New track</span>
  </button>
  <button mat-flat-button class="split-button-dropdown me-3" [matMenuTriggerFor]="dropdownMenu">
    <mat-icon class="m-0">arrow_drop_down</mat-icon>
  </button>
  <mat-menu #dropdownMenu="matMenu" xPosition="before">
    <button mat-menu-item matTooltip="Import chords over text." (click)="onImportChordsOverTextButtonClick()">
      <mat-icon>lyrics</mat-icon>
      <span>Import chords over text</span>
    </button>
    <button mat-menu-item matTooltip="Insert empty chordpro track template." (click)="onInsertEmptyTrackTemplateButtonClick()">
      <mat-icon>text_snippet</mat-icon>
      <span>Empty track template</span>
    </button>
  </mat-menu>
  <button mat-flat-button matTooltip="Download current track." (click)="onDownloadTrackButtonClick()">
    <mat-icon>download</mat-icon>
    <span>Download</span>
  </button>
</mat-toolbar>
